html,
body {
	min-width: 1280px;
	margin: 0;
	padding: 0;

	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	font-family: "PT Serif", "Times New Roman" ,serif;
	color: #ffffff;
	text-transform: none;
	font-style: normal;

	background-color: #000000;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
	        clip-path: inset(100%);

	-webkit-clip-path: inset(100%);
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	border: 0;

	clip: rect(0 0 0 0);
}

.centerer-flex {
	display: flex;
    justify-content: center;
    align-items: center; 	
}

.main-container {
	width: 1260px;
	margin: 0 auto;
	padding: 0 10px;

	background-color: gray;
}

.weapon-identify {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 600px;
	min-height: 45px;
	margin: 0 auto;
	margin-bottom: 10px;

	text-align: center;

	border: 1px solid yellow;
}

.weapon-identify__title {
	margin-bottom: 5px;
}

.weapon-identify__select {
}

.weapon-box {
	position: relative;

	box-sizing: border-box;
	width: 1260px;
	min-height: 665px;

	border: 1px solid yellow;
}

.weapon-top-modules {
	box-sizing: border-box;
	width: 100%;
	height: 160px;	
	border: 1px solid red;
	text-align: center;
}

.weapon-img-wrap {
	position: relative;
}

.weapon-middle-modules {
	box-sizing: border-box;
	position: absolute;
	width: 490px;
	height: 160px;
	right: 0;
	bottom: 0;
	border: 1px solid red;
}

.weapon-img {
	display: block;
	margin-left: auto;
	border: 1px solid blue;
}



.weapon-bottom-modules {
	box-sizing: border-box;
	width: 75%;
	height: 160px;
	margin-left: auto;	
	border: 1px solid red;
	text-align: center;
}

.weapon-parameters {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 10;

	box-sizing: border-box;
	width: 300px;
	height: 270px;
	margin: 0;
	padding: 0;

	list-style: none;

	border: 1px solid yellow;
}

.weapon-parameter {
	box-sizing: border-box;
	height: 27px;

	border-bottom: 1px solid yellow;
}

.weapon-parameter:last-of-type {
	border-bottom: 0;
}

.weapon-parameter {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0 5px;
}

.weapon-parameter__name {
}

.weapon-parameter__value {
}
